@{
    ViewBag.Title = "About Local Prep";
}

<!-- Content -->
<section id="page-content">
    <div class="container-fluid">
        <div class="row" style="background-image: url(/img/localprep_about_image.jpg);">
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-7">
                <h3>
                    KEEP IT <span style="font-weight: bold; color: #CB6318;">LOCAL</span>
                </h3>

                <p>
                    Local Prep is a web based service that helps individuals ﬁnd speciﬁc types of meal preppers, home chefs and caterers in their LOCAL area. There’s no limit to the amount of cuisines offered on Local Prep. New menus and ideas are added daily. Some of the favorites include keto, vegetarian, paleo, vegan, macros, & speciﬁc types of ethnic foods (Mexican, Ethiopian, Indian and many more). Local Prep is geared towards helping meal preppers expand their business by reaching new customers in their local area.
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Home")" class="btn btn-default fullwidth">Search the Map</a>
            </div>

            <div class="col-md-4">
                <a href="@Url.Action("", "Home")" class="btn btn-default fullwidth">Get Listed</a>
            </div>

            <div class="col-md-4">
                <a href="@Url.Action("Contact", "Home")" class="btn btn-default fullwidth">Contact Us</a>
            </div>
        </div>
    </div>
</section>