@model List<Cuisine>
@{
    ViewBag.Title = "Cuisines";
}

<!-- Content -->
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5>We have a wide range of cuisines, with certified meal preppers from across the country.</h5>
            </div>
        </div>

        <div class="row">
            <ul>
                @foreach (var cuisine in Model)
                {
                    <li>@cuisine.CuisineName</li>
                }
            </ul>
        </div>
    </div>
</section>