@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!-- Content -->
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>